<!DOCTYPE html>
<html lang=en-US">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='http://wavdl.blog/feed.xml' rel='alternate' type='application/atom+xml'>

		{% seo %}
		<link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
		<!--[if lt IE 9]>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<![endif]-->
		{% include head-custom.html %}
	</head>
	<body>
		<div class="wrapper">
		<header>
		{% include sidebar.html %}
		</header>
		<section>
			{{ content }}
		</section>
		<footer>
            {% include socials.html %}
		</footer>
		</div>
	</body>
</html>

